body, html
{
    background-color: #EDEDED !important;
}

.intro
{
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 50px;
}

.intro h1
{
    font-weight: 900;
    text-transform: uppercase;
}

.intro h5
{
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}
